{
  "*.{js,jsx,ts,tsx}": ["eslint --config config/eslint.config.mjs --fix", "prettier --write --config config/.prettierrc"],
  "*.{json,md,css,scss}": ["prettier --write --config config/.prettierrc"]
}
